[Unit]
Description=Cloud Stock uptime
After=network.target

[Service]
ExecStart=/bin/bash -c 'redis-server > /dev/null 2> /dev/null'
Restart=always
User=dev
WorkingDirectory=/home/dev/Cloud-stock/

[Install]
WantedBy=multi-user.target