body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navbar .btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar .btn.active {
    background-color: yellow;
}

.navbar .btn:hover {
    background-color: #e0e0e0;
}

.sub-navbar {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sub-navbar .btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sub-navbar .btn:hover {
    background-color: #e0e0e0;
}

.table-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #4CAF50; 
    color: white;
    
}

thead th {
    text-align: center; 
    padding: 10px;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.product-row img {
    max-width: 100px;
    max-height: 100px;
}

.add-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
}

.add-search-container button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.task-control-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.task-control-btn.disabled {
    background-color: #f44336;
}

.task-control-btn:hover {
    opacity: 0.9;
}
.add-search-container button:hover {
    background-color: #4cae4c;
}

.save-changes {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-changes:hover {
    background-color: #4cae4c;
}

.edit-button, .save-changes {
    margin: 10px;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .save-changes:hover {
    background-color: #4cae4c;
}

.save-changes {
    background-color: #5cb85c;
}

.actions .delete {
    color: #d9534f;
}

.actions .delete:hover {
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    text-align: center;
    margin-top: 20px;
}

.modal-changes {
    margin-top: 20px;
}

select.form-control {
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

select.form-control:hover {
    border-color: #aaa;
}

select.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Стиль для ячеек с остатками */
.total_stock-cell {
    background-color: #f0f0f0; /* Серый фон */
}

.avito-cell {
    background-color: #f0f0f0; /* Серый фон */
}

/* Фиксированная ширина для столбцов с городами */
table th, table td {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
